body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #e4e4e4;
}

/*index.jsx*/

.index-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.programmer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.programmer img {
    width: 450px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 300px;
}

.avatar {
    width: 150px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;;
    color: #6C63FF;
}

.input-div {
    position: relative;
    display: grid;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 3px solid #555;
    width: 100%;
}

.input-div:after, .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 50%;
    height: 2px;
    border-bottom: 3px solid #6C63FF;
    transition: border-bottom 0.3s ease-in;
}

.input-div:after {
    left: 50%;
}

.input-div:before {
    right: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div:before {
    width: 50%;
}

.elements h5 {
    width: 100%;
}

.input-div.one {
    margin-top: 0
}

.input-div.two {
    margin-bottom: 4px;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    color: #999;
    font-size: 18px;
    transition: .3s;
}

input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}

a {
    text-decoration: none;
}

.forgotPassword {
    padding-top: 3px;
}

.btn {
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    outline: none;
    border-color: #6C63FF;
    color: #6C63FF;
}

.btn:hover {
    background-color: #6C63FF;
    color: #e4e4e4;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.sign-btn {
    display: block;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 8px;
    outline: none;
    border-color: #6C63FF;
    color: #6C63FF;
    float: right;
    font-size: 1rem;
    margin-right: 5rem;
    margin-top: 3rem;;
}

.sign-btn:hover {
    background-color: #6C63FF;
    color: #e4e4e4;
    transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

@media screen and (max-width: 1050px) {
    .index-container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-container h2 {
        width: 100%;
        height: 100%;
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .programmer img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .index-container {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .programmer {
        display: none;
    }

    .login-container {
        justify-content: center;
    }
}

/*discussion.jsx*/

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.rendered-values{
    margin-top: 7rem;
=======
.rendered-values {
    margin-top: 56px;
>>>>>>> 24aba1ba069170af86a59e704cb2d74945fc755c
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
}

.question{
    color: rgb(68, 68, 68);
    font-size: 2rem;
    text-align: center;
}

/*NAVBAR.js*/

header {
    z-index: 9999;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #6C63FF;
    top: 0;
    left: 0;
    height: 56px;
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15rem;
}

.space {
    flex: 1;
}

<<<<<<< HEAD
.nav-user a{
    padding-left: 10rem;
=======
.nav-user a {
>>>>>>> 24aba1ba069170af86a59e704cb2d74945fc755c
    padding-right: 0;
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    padding: 0 2.5rem;
}

.nav-logo {
    margin: .5rem;
}

.nav-logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-items a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none; /*need to change this when I place logo*/
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.line {
    width: 25px;
    height: 2px;
    background: white;
}

.side-drawer {
    height: 100%;
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-150%);
    transition: transform 0.6s ease-out;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    top: 0;
    left: 0;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0.5rem;
}

.side-drawer a {
    color: #6C63FF;
    text-decoration: none;
    font-size: 1.2rem;
}

/*signup.jsx*/
.main-container {
    height: 100%;
    width: 100%;
}

.sign-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 1024px) {
    .navigation {
        padding: 0 4rem;
    }
}

@media (max-width: 768px) {
    .nav-items li {
        display: none;
    }

    .navigation {
        padding: 0 1rem;
    }

    .toggle-button {
        display: flex;
    }
}
