<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smoke -h</title>
    <link type="text/css" rel="stylesheet" href='/styles/global.css'>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/js/create.js" charset="utf-8"></script>
<script src="/js/vendor.js" charset="utf-8"></script>
<script src="/myJs/animate-input.js" charset="utf-8"></script>
</body>
</html>