<!DOCTYPE html>
<html lang="en">
<head>
    <title>Smoke -h</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/vendor.js" charset="utf-8"></script>
</body>
</html>