@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@600&display=swap');

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto Slab', serif;
    width: 100%;
    /* #2fd219 */
    --main-color: #365B58;
    --main-color-lay: #5CAA9C;
    --sec-color: whitesmoke;
    --dark-bg-font-color: #fcf1d1;
    --sec-color-lay: #ffffff;
    --third-color: rgb(41, 95, 211);
    --secondary-font: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
}

* {
    margin: 0;
}

button {
    font: var(--secondary-font);
    background: var(--sec-color);
}

body {
    background: var(--sec-color);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color-lay);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0.5rem 0;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #555;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

/* markdown */

.markdown * {
    font-family: var(--secondary-font);
    overflow-wrap: break-word;
}

.markdown blockquote {
    margin: 1em 40px;
}

.markdown dd {
    margin-left: 40px;
}

.markdown dl {
    margin: 0 0 1em 0;
}

.markdown fieldset {
    margin-left: 2px;
    margin-right: 2px;
}

.markdown figure {
    margin: 1em 40px;
}

.markdown h1 {
    margin: 0.67em 0 0.67em 0;
}

.markdown h2 {
    margin: 0.83em 0 0.83em 0;
}

.markdown h3 {
    margin: 1em 0 1em 0;
}

.markdown h4 {
    margin: 1.33em 0 1.33em 0;
}

.markdown h5 {
    margin: 1.67em 0 1.67em 0;
}

.markdown h6 {
    margin: 2.33em 0 2.33em 0;
}

.markdown hr {
    margin: 0.5em auto;
    border-top: 1px solid black;
}

.markdown menu {
    margin: 1em 0 1em 0;
}

.markdown ol {
    margin: 1em 0 1em 0;
}

.markdown p {
    margin: 0 0 1em 0;
}

.markdown pre {
    margin: 1em 0 1em 0;
    padding: 0.5em;
    background: #282c34;
    overflow-x: scroll;
    color: #abb2bf;
}

.markdown ul {
    margin: 1em 0 1em 0;
}

.markdown img {
    max-width: 100%;
}


/*login.jsx*/

.login-error-text {
    float: top;
    position: sticky;
    background: #ff5f5f;
    height: 43px;
    text-align: center;
    line-height: 43px;
    font-size: 24px;
    width: 100%;
    display: none;
}

.index-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.programmer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.programmer img {
    width: 400px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 300px;
}

.avatar {
    width: 200px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--main-color);
}

.input-div {
    position: relative;
    display: grid;
    margin: 25px 0;
    padding: 5px 0;
    width: 100%;
}

.input-div:after,
.input-div:before {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -2px;
    width: 50%;
    height: 2px;
    border-bottom: 3px solid var(--main-color);
    transition: border-bottom 0.3s ease-in;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #555 !important;
    background-color: var(--sec-color) !important;
}

.input-div:after {
    left: 50%;
}

.input-div:before {
    right: 50%;
}

.input-div.focus > div > h5 {
    top: -15px;
    font-size: 15px;
    color: var(--main-color);
}

.input-div.focus:after,
.input-div:before {
    width: 50%;
}

.elements h5 {
    width: 100%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 10px;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: relative;
    text-align: left;
    top: 50%;
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.input {
    padding: 0 0.7rem;
}


.btn {
    display: block;
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    outline: none;
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.sign-btn {
    position: relative;
    z-index: 30;
    display: block;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 8px;
    outline: none;
    border-color: var(--main-color);
    color: var(--main-color);
    float: right;
    font-size: 1rem;
    margin-right: 3%;
    margin-top: 3%;
}

.sign-btn:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media screen and (max-width: 1050px) {
    .index-container {
        grid-gap: 3rem;
    }

    .programmer img {
        width: 400px;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-container h2 {
        width: 100%;
        height: 100%;
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .programmer img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .index-container {
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
    }

    .programmer {
        display: none;
    }

    .login-container {
        justify-content: center;
    }
}


/*user-profile.jsx*/

.center {
    width: 100%;
}

.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.rendered-values {
    margin-top: 7rem;
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
}

.question {
    color: rgb(68, 68, 68);
    font-size: 2rem;
    text-align: center;
}

.home-space {
    width: 20%;
}

.cards {
    width: 60%;
}

.back {
    display: block;
    left: 12%;
    position: fixed;
    z-index: -1;
    width: 75%;
}

.back-m {
    position: fixed;
    z-index: -1;
    display: none;
    width: 100%;
    bottom: 0;
}

.mask {
    position: fixed;
    z-index: -1000;
    bottom: 0;
    display: none;
}

.side-middle {
    position: relative;
    width: 60%;
    box-sizing: border-box;
    padding: 0 5%;
    align-content: center;
}

.side-left {
    width: 20%;
}

.side-right {
    width: 20%;
}

@media (max-width: 768px) {
    .home-space {
        width: 5%;
    }
}

@media (max-width: 426px) {
    .home-space {
        width: 0;
    }

    .back-m {
        display: block;
    }

    .back {
        display: none;
    }

    .mask {
        display: block;
    }

    .side-left {
        display: none;
    }

    .side-right {
        display: none;
    }

    .side-middle {
        width: 100%;
    }
}


#root {
    width: 100%;
}

/*NAVBAR.js*/

header {
    z-index: 9999;
}

.dropdown-content {
    top: 56px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.nav-user:hover .dropdown-content {
    display: block;
}

.navbar {
    font-family: var(--secondary-font);
    position: fixed;
    width: 100%;
    /*background: var(--main-color);*/
    background: white;
    top: 0;
    left: 0;
    height: 56px;
    /*box-shadow: 0 1px 0 var(--main-color);*/
    box-shadow: 0 0px 1px rgba(50, 50, 50, 1);
}

.navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10%;
}

.space {
    flex: 1;
    padding-right: 10px;
}

.nav-user {
    display: flex;
    height: 56px;
    flex-flow: row wrap;
    align-content: center;
}

.nav-user div {
    display: inline-block;
    align-content: center;
    -webkit-align-content: center;
}

.nav-user-name {
    font-size: 1.2rem;
    position: relative;
    padding-left: 4px;
    color: var(--main-color);
    -webkit-align-self: center;
    align-self: center;
    font-weight: bold;
}

.nav-user-photo {
    position: relative;
    width: 30px;
    height: 30px;
    align-self: center;
    -webkit-align-self: center;
    background-color: var(--main-color-lay);
    border-radius: 100%;
    display: block;
    background-size: 100px 100px;
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    padding: 0 1rem;
}


.nav-items a {
    color: var(--main-color);
    font-size: 1rem;
    text-decoration: none;
}

.nav-logo {
    margin: 0.5rem;
}

.logo {
    width: 20px;
}

.nav-logo a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    /*need to change this when I place logo*/
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.line {
    width: 25px;
    height: 2px;
    background: var(--main-color);
}

.side-drawer {
    height: 100%;
    background-color: var(--sec-color);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-150%);
    transition: transform 0.6s ease-out;
}

.side-drawer-ul li {
    padding: 1rem 0;
}

.user-profile {
    height: fit-content;
}

.user-circle-profile {
    position: relative;
    top: 50px;
    width: 40px;
    height: 40px;
    left: 16px;
    border-radius: 100%;
    background-color: var(--main-color-lay);
    background-blend-mode: normal;
    border: 5px solid var(--sec-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: 100px;
}

.user-name-profile {
    position: relative;
    top: 108px;
    padding-left: 16px;
    font-size: 16px;
    color: #555;
    width: 208px;
}

.search {
    padding: 0 1rem;
}

.userId {
    font-size: 12px;
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    top: 0;
    left: 0;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    top: 150px;
    padding-top: 5%;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.1rem 0;
}

.side-drawer a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 20px;
}

.hash {
    position: relative;
    top: 150px;
    background: none;
}

.hash .hashtag-box {
    box-shadow: none;
    background: none;
    height: fit-content;
}

.hash .hashtag-box .hash-head {
    left: 16px;
    font-size: 12px;
}

.hash .hashtag-box .hash-div {
    left: 16px;
}

.hash .hashtag-box .hash-div .hashes {
    width: 48px;
    height: 24px;
}

.hash .hashtag-box .hash-div .hashes .text {
    font-size: 12px;
    color: var(--main-color);
}

.hash .activity {
    box-shadow: none;
    position: relative;
    background: none;
}

.hash .activity .activity-head {
    font-size: 12px;
}

.hash .activity .activity-detail {
    padding-top: 2%;
}

.hash .activity .activity-detail .number {
    font-size: 20px;
}

.search-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 56px;
    background-color: whitesmoke;
    z-index: 100;
    border: 2px solid var(--main-color);
    border-radius: 16px;
}

.search-input {
    width: 90%;
    margin: 0 1rem;
    color: var(--main-color);
    font-size: 24px;
}

.search-box-svg {
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 50%;
    transform: translate(0, -50%);
    float: right;
    margin: 0 2rem;
}

/*signup.jsx*/

.main-container {
    height: 100%;
    width: 100%;
}

.sign-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1024px) {
    .navigation {
        padding: 0 4rem;
    }
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }

    .nav-user {
        display: none;
    }

    .navigation {
        padding: 0 1rem;
    }

    .toggle-button {
        display: flex;
    }
}

@media (max-width: 320px) {
    .nav-logo a {
        font-size: 18px;
    }
}


/*cardh.js*/

.card {
    top: 25%;
    position: relative;
    background-color: var(--sec-color-lay);
    box-shadow: 1px 3px rgba(143, 143, 143, 0.24);
    width: 100%;
}

.card-fluid {
    padding: 1rem;
    display: flex;
}

.topic {
    width: 60%;
    font-size: 1rem;
}

.topic-header {
    display: flex;
}

.topic-logo {
    width: fit-content;
}

.topic-logo img {
    width: 30px;
}

.topic-name {
    color: var(--main-color);
    font-weight: bold;
    align-self: center;
    -webkit-align-self: center;
    font-size: 20px;
    padding-left: 1rem;
}

.topic-description {
    padding-top: 3px;
    padding-bottom: 3px;
    color: #999;
    font-size: 18px;
}

.threads-blogs {
    padding-top: 0.5rem;
    display: flex;
    width: 70%;
}

.threads-blogs-tb {
    width: 20%;
}

.threads {
    display: flex;
    width: 35%;
}

.threads-tb {
    display: flex;
    width: 20%;
}

.tb-sign {
    width: fit-content;
}

.tb-sign img {
    width: 20px;
}

.tb img {
    width: 20px;
}

.tb-tb {
    font-size: 1rem;
    margin-top: 3px;
    color: var(--main-color);
    margin-left: 3px;
    width: fit-content;
}

.tb {
    font-size: 1rem;
    margin-top: 3px;
    color: var(--main-color);
    margin-left: 3px;
}

.blogs {
    padding-left: 1rem;
    display: flex;
    width: 50%;
}

.latest {
    width: 40%;
    display: flex;
    height: inherit;
    font-size: 1rem;
}

.latest-user-img {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
}

.latest-user-img-tb {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
}

.latest-user-img img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.latest-user-img-tb img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.query {
    color: rgb(153, 148, 236);
    font-weight: bold;
    font-size: 20px;
}

.user-name-details {
    color: #999;
}

.time {
    color: var(--main-color);
}

@media (max-width: 1024px) {
    .topic-description {
        font-size: 1rem;
    }

    .tb {
        font-size: 14px;
    }

    .query {
        font-size: 1.2rem;
    }

    .latest {
        padding-left: 10px;
    }

    .latest-details {
        padding-left: 10px;
    }
}

@media (max-width: 768px) {
    .topic-logo {
        width: 17px;
    }

    .topic-logo img {
        width: 100%;
    }

    .topic-name {
        font-size: 1rem;
    }

    .topic-description {
        font-size: 14px;
    }

    .tb {
        padding-top: 3px;
        font-size: 12px;
    }

    .latest-details {
        padding-left: 10px;
    }

    .query {
        font-size: 14px;
    }

    .details {
        font-size: 14px;
    }
}

@media (max-width: 426px) {
    .rendered-values {
        margin-top: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .topic {
        width: 100%;
    }

    .topic-logo {
        width: 10px;
    }

    .topic-logo img {
        padding-top: 2.5px;
    }

    .topic-name {
        padding-left: 3px;
        font-size: 14px;
    }

    .threads-blogs {
        width: 100%;
    }

    .topic-description {
        font-size: 12px;
    }

    .tb-sign img {
        width: 10px;
    }

    .tb {
        margin-top: 0;
        padding-top: 0;
    }

    .latest {
        visibility: hidden;
        clear: both;
        display: none;
    }
}

@media (max-width: 375px) {
    .rendered-values {
        margin-top: 3rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .threads-blogs {
        margin-top: 0.5px;
    }

    .threads {
        width: 50%;
    }

    .blogs {
        padding: 0 0;
    }

    .tb {
        font-size: 10px;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .rendered-values {
        margin-top: 4rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .threads-blogs {
        margin-top: 0.5px;
    }

    .threads {
        width: 50%;
    }

    .blogs {
        padding: 0 0;
    }

    .tb {
        font-size: 10px;
        justify-content: center;
    }
}


/*threadsblogs.jsx*/

.previous-heading {
    position: relative;
    font-size: 3rem;
    color: var(--main-color-lay);
    text-align: center;
}

.create-btn {
    display: block;
    width: 6.5rem;
    height: 2.5rem;
    border-radius: 4px;
    outline: none;
    border-color: var(--main-color);
    color: var(--main-color);
    font-size: 1rem;
    position: relative;
}

.create-btn:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media (max-width: 426px) {
    .previous-heading {
        font-size: 2rem;
    }
}

@media (max-width: 375px) {
    .previous-heading {
        font-size: 2rem;
    }
}


/*create-thread.jsx*/

:read-only {
    --create-thread-fs: 1.01em;
}

.create-thread-container {
    width: 90%;
    height: 550px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    font-size: var(--create-thread-fs);
    padding: 10px 20px 10px 20px;
}

.c4-forum .c4-second-blog-details .c4-second-blog-left .left .blog-card img {
    display: none;
}

.c4-forum-blog {
    display: none;
}

@media (max-width: 615px) {
    .create-thread-container {
        height: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .create-thread-container {
        height: 100%;
    }
}

.create-thread-input {
    position: inherit;
    border: 1px solid rgba(50, 50, 50, 0.5);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: var(--create-thread-fs);
    color: black;
    width: 95%;
}

.create-thread-container .create-content-input {
    height: 288px;
}

.create-thread-content-group {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
}

.create-content-container {
    border: 1px solid rgba(50, 50, 50, 0.5);
    flex: 1 0 auto;
    width: 95%;
    overflow: auto;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.create-content-state {
    margin: -5px;
    padding: 10px;
}

.create-content-state-component {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

.create-content-state-component.active {
    color: var(--main-color);
}

.create-content-state-component:hover {
    background: var(--main-color);
    color: white;
}

.create-content-state-component-write {
    margin-left: -10px;
}

.create-content-state-component-read {
    border-radius: 0;
    outline: none;
}

.create-content-input-container {
    margin-top: 5px;
    flex: 1 0 auto;
}

.create-content-input {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 20px);
    padding: 10px 10px 5px 10px;
    font-size: 1.1em;
    border: none !important;
}

.create-content-input:focus {
    outline: #ffffff;
}

.create-thread-button-group {
    display: flex;
    width: 100%;
}

.create-thread-button {
    margin-top: 10px;
    background: white;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    width: 92px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: var(--main-color);
    font-weight: bold;
    border: none;
}

.create-width {
    width: 95%;
    display: flex;
    flex-flow: row-reverse wrap;
}

.create-thread-button:hover {
    transition: background-color 200ms ease;
    background: var(--main-color);
    color: white;
}

.create-thread-container .preview-container {
    box-sizing: border-box;
    width: 100%;
    height: 288px;
    overflow: auto;
    padding: 10px;
    border: none !important;
}


/*index.jsx*/

.heading-blog {
    width: fit-content;
    top: 20%;
    left: 15%;
    position: fixed;
    z-index: -1;
}

.heading-blog h1 {
    color: var(--main-color);
    font-size: 200px;
    display: flex;
}

.text-blog {
    position: fixed;
    z-index: -1;
}

.text-blog p {
    color: #555;
    font-size: 50px;
}

.blog-svg {
    z-index: -2;
    position: fixed;
    width: fit-content;
    top: 20rem;
    left: 55%;
}

.blog-svg img {
    width: 55%;
}

.blog-svg-m {
    display: none;
}

.single-blog-button-group {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    outline: none;
    -webkit-user-select: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}

.single-blog-button {
    margin: 1% 1%;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border-color: var(--main-color);
    text-align: center;
    vertical-align: center;
    color: var(--main-color);
    font-size: 1rem;
    border: 2px solid var(--main-color);
}

.single-blog-button:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.rendered-values-blog {
    margin-top: 5rem;
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}

.single-blog-card {
    display: flex;
    justify-content: center;
}


.blog-container {
    padding: 10px;
    background: white;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 800px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
    display: flex;
    flex-direction: column;
}

.blog-container .single-blog-input {
    display: flex;
}

.blog-container textarea {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    border: none;
    width: 100%;
    outline: none;
}

.blog-container textarea:focus {
    border: none;
}

.single-blog-input-title textarea {
    font-size: 2em;
    font-weight: bold;
    text-wrap: none;
}

.single-blog-input-tags textarea {
    font-size: 1.3em;
}

.single-blog-input-content {
    flex: 1 0 auto;
}

.single-blog-input-content textarea {
    font-size: 1.1em;
}

.single-blog-container {
    width: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.single-blog-preview {
    width: 100%;
}

.single-blog {
    padding: 20px 10px 10px 10px;
}

.single-blog .single-blog-heading {
    margin: 1em 0 2em 0;
}

.single-blog .single-blog-cover-image {
    width: 100%;
}

.single-blog .single-blog-tags {
    margin: 1em 0 2em 0;
    padding: 2px 20px;
    display: flex;
    flex-flow: row wrap;
}

.single-blog .single-blog-tags .single-blog-single-tag {
    display: block;
    margin: 2px;
    padding: 2px 4px;
    background: var(--main-color);
    color: var(--sec-color);
    background-size: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.single-blog .single-blog-content {
    padding: 2px 20px;
    margin: 1em 0 2em 0;
}


@media (max-width: 1024px) {
    .heading-blog {
        width: fit-content;
        top: 20%;
        left: 15%;
        position: fixed;
        z-index: -1;
    }

    .heading-blog h1 {
        color: var(--main-color);
        font-size: 100px;
        display: flex;
    }

    .text-blog {
        position: fixed;
        z-index: -1;
    }

    .text-blog p {
        color: #555;
        font-size: 25px;
    }

    .blog-svg {
        z-index: -2;
        position: fixed;
        width: fit-content;
        top: 20rem;
        left: 30%;
    }

    .blog-svg img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .blog-container {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .single-blog-container {
        width: 100%;
    }

    .rendered-values-blog {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 425px) {
    .heading-blog h1 {
        font-size: 500%;
    }

    .blog-svg {
        display: none;
    }

    .text-blog p {
        font-size: 16px;
    }

    .blog-svg-m {
        top: 50%;
        left: 20%;
        position: fixed;
        display: block;
        z-index: -2;
    }

    .blog-svg-m img {
        width: 80%;
    }
}


/*cardb.js*/

.blog-page {
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 2px #999;
}

.dev-div {
    width: 100%;
    height: 600px;
    display: flex;
}

.dev-div:nth-child(odd) {
    background-color: var(--sec-color);
}

.dev-div:nth-child(even) {
    background-color: var(--main-color);
}

.details {
    width: 60%;
    margin: 5rem 0 0 5rem;
}

.head {
    width: fit-content;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: rgb(133, 133, 133);
}

.head-alt {
    width: fit-content;
    border-bottom-style: solid;
    margin-right: 10px;
    border-width: 3px;
    border-bottom-color: rgb(196, 196, 196);
}

.head h1 {
    color: var(--main-color);
    font-size: 80px;
    padding-bottom: 4px;
}

.head-alt h1 {
    color: var(--dark-bg-font-color);
    font-size: 80px;
    padding-bottom: 4px;
}

.head-details {
    padding-top: 10px;
    font-size: 36px;
    color: rgba(0,0,0,.54);
}

.head-details-alt {
    padding-top: 10px;
    font-size: 36px;
    color: var(--sec-color);
}

.explore-btn {
    display: block;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    margin: 9rem 0;
    font-size: 1.2rem;
    outline: none;
    border-color: var(--main-color);
    color: var(--main-color);
}

.explore-btn:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.explore-btn-alt {
    display: block;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    margin: 9rem 0;
    font-size: 1.2rem;
    outline: none;
    background-color: transparent;
    border-style: solid;
    border-color: var(--sec-color);
    color: var(--sec-color);
}

.explore-btn-alt:hover {
    background-color: var(--sec-color);
    color: var(--main-color);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.div-svg {
    width: 40%;
    padding-top: 20px;
    padding-left: 5rem;
}

.div-svg img {
    width: 80%;
}

@media (max-width: 1024px) {
    .dev-div {
        height: 400px;
    }

    .details {
        width: 60%;
        margin-left: 2rem;
    }

    .head h1 {
        font-size: 50px;
    }

    .head-alt h1 {
        font-size: 50px;
    }

    .head-details {
        font-size: 28px;
    }

    .head-details-alt {
        font-size: 28px;
    }

    .explore-btn {
        width: 7rem;
        height: 2.5rem;
        margin: 4rem 0;
        font-size: 1rem;
    }

    .explore-btn-alt {
        width: 7rem;
        height: 2.5rem;
        margin: 4rem 0;
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .dev-div {
        height: 400px;
    }

    .div-svg {
        display: none;
    }

    .details {
        width: 100%;
    }

    .head h1 {
        font-size: 48px;
    }

    .head-alt h1 {
        font-size: 48px;
    }

    .head-details {
        font-size: 16px;
    }

    .head-details-alt {
        font-size: 16px;
    }
}


/*user-card.js*/

.user-card {
    width: 100%;
    padding-bottom: 20px;
    background: var(--sec-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.user-back {
    width: 100%;
    height: 115px;
    background-color: var(--main-color-lay);
    margin-bottom: 20px;
    border-radius: 4px 4px 0px 0px;
}

.user-circle {
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    border-radius: 100%;
    background-color: white;
    background-blend-mode: normal;
    border: 5px solid var(--sec-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-name {
    width: 100%;
    margin-top: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 14px;
}

.user-details-home {
    width: 100%;
    margin-top: 3%;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    color: #181818;
}

.render-user {
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
    top: 7rem;
    height: fit-content;
    display: flex;
}

@media (max-width: 1024px) {
    .user-card {
        height: 130px;
    }

    .user-back {
        height: 65px;
    }

    .user-circle {
        width: 40px;
        height: 40px;
    }

    .user-details-home {
        font-size: 8px;
    }

    .user-name {
        font-size: 12px;
        margin-top: 30px;
    }
}


/*create-card.js*/

.create-box {
    width: 100%;
    height: fit-content;
    padding: 10% 0;
    margin-top: 10%;
    background: var(--sec-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.create-button {
    padding: 3% 0;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    outline: none;
    font-weight: bold;
}

.create-button:hover {
    background-color: var(--main-color);
    color: var(--sec-color);
}

.btn-space {
    height: 10px;
}

@media (max-width: 1024px) {
    .create-box {
        height: 60px;
    }

    .create-button {
        height: 28px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .create-button {
        font-size: 10px;
    }
}


/*hashtag-box.js*/

.hashtag-box {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 225px;
    margin-top: 10%;
    background: var(--sec-color-lay);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hash-head {
    width: fit-content;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    font-weight: bold;
}

.hash-div {
    margin-top: 10px;
    display: flex;
}

.hashes {
    position: relative;
    width: 60px;
    height: 28px;
    background: var(--sec-color);
    border-radius: 4px;
}

.text {
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
    .hashtag-box {
        height: 155px;
    }

    .hash-head {
        font-size: 8px;
    }

    .hashes {
        width: 44px;
        height: 24px;
    }

    .text {
        font-size: 8px;
    }
}


/*activity.js*/

.activity {
    width: calc(100% - 31px);
    height: fit-content;
    margin-top: 10%;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 26px;
    padding-right: 5px;
    border-radius: 4px;
}

.activity-head {
    width: fit-content;
    height: 11px;
    font-size: 12px;
    line-height: 11px;
    text-transform: uppercase;
    color: #181818;
    padding-top: 10%;
    font-weight: bold;
}

.activity-div {
    position: relative;
    padding-top: 2%;
    padding-bottom: 5%;
}

.activity-detail {
    width: fit-content;
    height: fit-content;
    padding-bottom: 2%;
}

.number-detail {
    color: #555;
    font-weight: bold;
    font-size: 12px;
}

@media (max-width: 1024px) {
    .activity-head {
        font-size: 8px;
    }

    .number {
        font-size: 36px;
    }

    .number-detail {
        font-size: 8px;
    }
}

@media (max-width: 768px) {
    .number {
        font-size: 24px;
    }
}


/*user-create-post.js*/

.create-post {
    width: 90%;
    background-color: var(--sec-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 0 5%;
    margin-bottom: 10px;
}

.create-post-head {
    width: 100%;
    border-bottom: 1px solid rgba(107, 99, 255, 0.281);
    height: 44px;
}

.create-post-head p {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 16px;
    height: 16px;
    color: var(--main-color);
}

.write {
    position: relative;
    top: 10%;
    height: fit-content;
}

.create-post-text {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.create-post-text:active {
    border-color: var(--main-color);
}

.create-post-text:focus {
    border-color: var(--main-color);
}

.write input {
    height: 12px;
    font-size: 12px;
}

.send {
    width: 100%;
    text-align: right;
    height: 40px;
}

.send-btn {
    outline: none;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}


/*card.js*/

.card-tb {
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    height: fit-content;
    background: var(--sec-color-lay);
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 5%;
}

.card-top {
    margin-bottom: 26px;
    width: 90%;
    padding: 0 5%;
    height: 44px;
    border-bottom: 1px solid #d3d2d2;
}

.card-top-details {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    width: 100%;
    height: fit-content;
}

.card-top-details-head {
    position: relative;
    color: var(--main-color);
    font-weight: bold;
}

.card-top-details-dev {
    position: relative;
    color: var(--main-color);
    font-weight: bold;
}

.head-card {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    width: fit-content;
    height: 44px;
}

.head-card-photo {
    position: relative;
    width: 30px;
    height: 30px;
    align-self: center;
    -webkit-align-self: center;
    background-color: var(--main-color-lay);
    border-radius: 100%;
}

.photo-details {
    position: relative;
    align-self: center;
    -webkit-align-self: center;
    height: fit-content;
    width: fit-content;
    padding-right: 3%;
}

.photo-name {
    position: relative;
    width: fit-content;
    height: 11px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: var(--main-color);
}

.des {
    position: relative;
    width: fit-content;
    height: 13px;
    font-size: 8px;
    line-height: 150%;
    color: #181818;
}

.writeup {
    position: relative;
    width: 90%;
    padding: 0 5%;
    z-index: 0;
}

.writeup .content {
    font-size: 14px;
    line-height: 150%;
    max-height: 93px;
    overflow: hidden;
}

.writeup-hidden {
    display: none;
}

.read-more {
    z-index: 2;
    width: 100%;
    text-align: right;
    background: none;
    position: relative;
    text-decoration: none;
    text-emphasis: none;
    font-size: 0.85em;
    font-weight: bolder;
}

.read-more .button {
    float: right;
    cursor: pointer;
    width: fit-content;
    padding-right: 5%;
}

.read-more-less {
    display: none;
}

.read-more .button-comments {
    float: right;
    cursor: pointer;
    width: fit-content;
    padding-right: 5%;
    color: var(--main-color);
}

.functions {
    position: relative;
    width: 90%;
    bottom: 0%;
    padding: 0 5%;
    display: flex;
}

.like-box {
    width: 100%;
    flex-flow: row wrap;
    display: flex;
}

.like {
    position: relative;
    width: fit-content;
    top: 50%;
    transform: translate(0, -50%);
    height: 15px;
    display: flex;
    padding-right: 3%;
}

.i {
    position: relative;
    padding-top: 1%;
    color: #555;
    font-weight: bold;
    font-size: 12px;
    width: auto;
}

.i-text {
    display: inline;
}

.button {
    color: var(--main-color);
}

.ask {
    position: relative;
}

@media (max-width: 1024px) {
}

@media (max-width: 786px) {
    .i .i-text {
        display: none;
    }
}

@media (max-width: 425px) {
    .i {
        display: none;
    }
}


/*advertisement.js*/

.follower-card {
    position: relative;
    width: 100%;
    height: 700px;
    background: var(--main-color-lay);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}


.search-svg {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    left: 7px;
    width: fit-content;
    height: fit-content;
}

.search-text {
    position: relative;
    width: 80%;
    height: 32px;
    font-size: 18px;
    line-height: 180%;
    color: var(--main-color);
    left: 52px;
    margin: 0 0;
    top: 50%;
    transform: translate(0, -50%);
}

.search-svg button {
    outline: none;
    background: none;
    border: none;
}

@media (max-width: 425px) {
    .home-search {
        border: none;
    }

    .search-text {
        left: 16px;
    }
}


/*comment-container.js*/

.comment {
    position: relative;
    height: fit-content;
    width: 100%;
    background-color: white;
    margin-bottom: 5%;
}

.comment-div {
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 0 5% 3% 5%;
}

.comment-head {
    color: #555;
    font-size: 0.86em;
    font-weight: bold;
    margin-bottom: 2%;
}

.comment-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    margin-right: 0;
    margin-bottom: 1%;
}

.comment-box-header {
    margin-bottom: 6px;
    padding: 3px 0;
}

.comment-user {
    position: relative;
}

.comment-photo {
    align-self: center;
    -webkit-align-self: center;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--main-color-lay);
    border-radius: 100%;
    margin-right: 2%;
}

.comment-user-name {
    align-self: center;
    -webkit-align-self: center;
    font-size: 14px;
    color: var(--main-color);
    font-weight: 400;
}

.comments-ul {
    padding: 0;
    padding-inline-start: 0;
}

.comment-user-des {
    font-size: 10px;
    color: #555;
}

.comments {
    width: 95%;
    height: fit-content;
    border: 1px solid #999;
    padding: 1% 1%;
    font-size: 12px;
    color: #555;
}

.comment-like {
    padding-top: 1%;
}

.func {
    padding: 0 1%;
}

.add-comment-div {
    position: relative;
    width: 90%;
    height: fit-content;
    padding: 0 5%;
}

.add-comment-div .create-content-input-container {
    height: 120px;
    max-height: 120px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.add-comment-div .create-content-input {
    height: 100%;
    width: 100%;
}

.add-comment-div .preview-container {
    width: 100%;
    margin-top: 5px;
    max-height: 100%;
    overflow: auto;
    border: none !important;
}

.comment-sec {
    position: relative;
    width: 95%;
    padding: 1% 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}

.add {
    position: relative;
    padding: 1% 0 3% 0;
}

.add-btn {
    outline: none;
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
    width: 60px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
}

.add-btn:hover {
    background-color: var(--main-color);
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}


/*create-index.jsx*/

.blog-form h5 {
    padding-bottom: 1%;
    position: relative;
    color: var(--main-color);
    font-size: 50px;
    text-align: center;
}

.textarea {
    display: flex;
}

.textarea textarea {
    position: relative;
    margin: 0 2%;
    width: 60%;
    height: 700px;
    background: transparent;
}

.side {
    width: 20%;
}


@media (max-width: 425px) {
    .side {
        display: none;
    }

    .textarea textarea {
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        margin: 0 0;
    }


}


/*index-forum.jsx*/

.indexforum-container {
    position: relative;
    width: 100%;
    display: block;
    top: 100px;
}

.indexforum-header {
    text-align: center;
    position: relative;
    font-size: 54px;
    font-weight: 300;
    font-family: var(--secondary-font);
}

.indexforum-message {
    text-align: center;
    top: 26px;
    position: relative;
    font-size: 26px;
}

.indexforum-sec-container {
    position: relative;
    width: 60%;
    margin: auto;
    top: 60px;
}

.component-box {
    top: 56px;
    width: 100%;
    display: flex;
}

.indexforum-first {
    width: 100%;
    position: relative;
    width: 100%;
    display: block;
    top: 100px;
}

.indexforum-header {
    text-align: center;
    position: relative;
    font-size: 54px;
    font-weight: 300;
    font-family: var(--secondary-font);
}

.indexforum-message {
    text-align: center;
    top: 26px;
    position: relative;
    font-size: 26px;
}

.indexforum-sec-container {
    position: relative;
    width: 60%;
    margin: auto;
    top: 60px;
}

.component-box {
    top: 56px;
    width: 100%;
    display: flex;
}

.indexforum-first {
    width: 100%;
}

.post-box {
    width: 80%;
}

.indexforum-second {
    margin-left: 5%;
    width: 15%;
    margin-top: 56px;
}

.indexforum-question {
    width: 60%;
}

.indexforum-user {
    width: 20%;
    font-size: 16px;
    color: var(--main-color);
}

.indexforum-user-name {
    font-weight: bold;
}

.indexforum-time {
    color: var(--main-color);
    width: 20%;
    font-size: 16px;
    text-align: center;
}

.indexforum-first-header {
    font-size: 32px;
    color: var(--main-color);
    margin-bottom: 16px;
    font-weight: bold;
}

.indexforum-first-box {
    display: flex;
    padding: 1rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
}

@media (max-width: 768px) {
    .indexforum-first-box {
        flex-direction: column;
    }

    .indexforum-question {
        padding: 0.5rem;
        width: 100%;
        font-size: 14px;
    }

    .indexforum-user {
        padding: 0.5rem;
        width: 100%;
        font-size: 13px;
    }

    .indexforum-time {
        padding: 0.5rem;
        width: 100%;
        font-size: 12px;
    }
}

.indexforum-first-box-header {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-color);
}

.indexforum-first-box-details {
    font-size: 16px;
    margin-top: 8px;
    color: #999;
}

.indexforum-second-box {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    position: fixed;
}

.indexforum-second-box ul {
    list-style: none;
    padding-left: 10px;
    font-family: var(--secondary-font);
    color: var(--main-color);
}

.indexforum-second-box ul li {
    padding: 3px 0;
}


/* adding styles for post-forum */
.post-forum-container:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 112px;
}

.post-forum-left-column {
    float: left;
    width: 22%;
    margin-top: 56px;
    position: relative;
}

/* Right column */
.post-forum-right-column {
    float: right;
    width: 70%;
    margin-top: 96px;
    padding-left: 4%;
    padding-right: 4%;
}

.post-forum-profile-header {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
}

.post-forum-user-image {
    border-radius: 50%;
    display: inline;
    max-width: 80px;
    max-height: 80px;
    margin: 2%;
}

.post-forum-user-details {
    position: relative;
    padding: 30px 20px;
    flex: 2;
}

.post-forum-user-metadata {
    display: inline;
    column-count: 2;
}

.post-forum-user-birthdate {
    color: rgba(0, 0, 0, 0.5)
}

.post-forum-user-bio {
    margin: auto;
}

.forum-post-title {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    /* background: white;   */
}

.forum-post-body {
    font-weight: lighter;
}

@media screen and (max-width: 800px) {
    .post-forum-right-column,
    .post-forum-left-column {
        width: 96%;
        padding: 2%;
    }

    .header {
        margin-top: 20px;
    }
}

.post-forum-reply-button {
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    width: 92px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    border-color: var(--main-color);
    color: var(--main-color);
}


.c4-blog {
    display: block;
    position: relative;
    width: 75%;
    margin: 100px auto;
}

.c4-blog-heading {
    position: relative;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.c4-blog-heading p {
    font-size: 75px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.carousel {
    margin: auto;
    width: 75%;
    height: 500px;
}

.image-slide {
    font-weight: lighter;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
}

.image-slide img {
    position: relative;
    width: 100%;
    height: 100%;
}

.layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.c4-blog-img-details {
    position: relative;
    max-width: 500px;
    height: fit-content;
    text-align: left;
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;
}

.c4-blog-tag {
    position: relative;
    margin: 0.5rem 0;
    display: flex;
}

.dev-head {
    font-size: 20px;
}

.dev-tag {
    position: relative;
    background-color: blue;
    padding: 3px;
    border-radius: 4px;
    color: white;
    font-weight: lighter;
}

.dev-date {
    position: relative;
    padding: 0.1rem 0;
    margin-left: 1rem;
    color: white;
    font-weight: lighter;
}

.h {
    margin: 0.5rem 0;
    position: relative;
    font-size: 26px;
    color: white;
    font-weight: lighter;
}

.d {
    position: relative;
    font-size: 1rem;
    margin: 0.5rem 0;
    text-decoration-skip-ink: auto;
}

.c4-carousel-button {
    position: relative;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    z-index: 2;
    background-color: transparent;
    color: blue;
    outline: none;
    border: 1px solid blue;
}

.c4-carousel-button:hover {
    background-color: blue;
    color: white;
}


/* main-card.js */

.c4-main-card {
    position: relative;
    width: 75%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.c4-blog-main-card {
    flex: 1;
    position: relative;
    margin: 5px 5px;
    height: 300px;
}

.c4-blog-main-card img {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-card-tag {
    width: fit-content;
    margin: auto;
}

.c4-blog-main-card-details {
    position: absolute;
    width: 100%;
    top: 50%;
}

.layer-hover:hover {
    background: rgba(0, 0, 0, 0.75);
    transition: background 0.3s ease-out;
}


/* second-blog.js */

.c4-second-blog {
    position: relative;
    width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 7rem;
}

.c4-second-blog-head h1 {
    margin: 10px 0;
    position: relative;
    text-align: left;
    font-weight: normal;
}

.c4-second-blog-details {
    position: relative;
    display: flex;
    height: 100%;
    margin-bottom: 7rem;
}

.c4-second-blog-left {
    width: 75%;
}

.left {
    position: relative;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 38px;
}

.c4-second-blog-right {
    flex: 1;
    height: 100%;
}

.blog-card {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-card img {
    width: 100%;
}

.blog-card-details {
    padding: 20px;
}

.blog-card-h {
    position: relative;
    text-align: left;
    font-size: 18px;
    color: black;
    font-weight: 400;
    margin-bottom: 20px;
}

.c4-bio-box {
    position: relative;
    float: right;
    padding: 15px;
    width: 75%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.c4-bio-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -4em;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.bio h2 {
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    margin: 0 auto;
}

.bio {
    text-align: center;
    margin: 0 10px;
}

.bio p {
    padding: 10px 0;
    font-weight: lighter;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.5rem;
}

.explore-bio {
    padding: 0.5rem 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;
    border-radius: 4px;
}

.c4-more-blog-post {
    flex: 2;
    align-items: center;
}

.more-post-card {
    width: 100%;
    height: 172px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 28px;
}

.more-post-card:hover {
    box-shadow: 0 0 4px rgba(0, 174, 255, 0.4);
}

.more-post-card img {
    flex: 1;
    /* width: 33.3333%; */
    position: relative;
    float: left;
    height: 100%;
}

.post-card-details {
    position: relative;
    padding: 30px 20px;
    flex: 2;
    /* width: 66.6666%; */
}

.more-post-card-h {
    margin: auto;
}

.pop-box {
    border: none;
}

.popular-head {
    width: 100%;
    font-weight: lighter;
    margin-bottom: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pop-post-card-h {
    padding: 10px 0;
    position: relative;
    font-size: 1rem;
    font-weight: lighter;
}

.c4-footer {
    position: relative;
    background-color: black;
    height: auto;
    top: 7rem;
    padding: 5rem 0;
}

.footer-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 75%;
}

.paragraph {
    flex: 1;
}

.paragraph h3 {
    letter-spacing: 2px;
    float: left;
    color: white;
    font-weight: lighter;
}

.paragraph img {
    width: 100%;
}

.paragraph p {
    color: rgba(255, 255, 255, 0.575);
    text-align: left;
    line-height: 36px;
    font-weight: lighter;
}

.latest-footer {
    flex: 1;
    margin-left: 10%;
    /* width: 50%; */
    display: flex;
}

.latest-posts {
    flex: 1;
    /* width: 50%; */
    /* margin-right: 20px; */
}

.links-social {
    flex: 1;
    margin-left: 20px;
    /* width: 50%; */
}

.latest-posts h3 {
    letter-spacing: 2px;
    color: white;
    font-weight: lighter;
}

.links h3 {
    letter-spacing: 2px;
    color: white;
    font-weight: lighter;
}

.app {
    text-align: center;
}

/*Search-page.jsx*/

.search-page {
    width: 90%;
    margin: 100px auto;
}

.heading-search {
    width: 75%;
    position: relative;
    margin: auto;
}

.heading {
    margin: auto;
    position: relative;
    display: flex;
}

.heading h1, .heading h2, .heading h3 {
    position: relative;
    font-weight: lighter;
    width: fit-content;
    color: var(--main-color);
}

.search-page-flex {
    margin: auto;
    width: 90%;
    position: relative;
    display: flex;
}

.search-card {
    position: relative;
    margin: .5em 0;
    width: fit-content;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em 1em;
}

.sub-heading {
    margin: 1em 0;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: lighter;
}

.search-right {
    width: 75%;
}

.search-hash {
    width: fit-content;
    border-radius: 4px;
    padding: 2px 10px;
    color: white;
    background: var(--main-color);
}

.categories-comp {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tags {
    font: var(--secondary-font);
    padding: 0;
    margin: 20px 0;
    font-weight: 400;
}

.tags li {
    padding: 0;
    margin: 0 4px 4px 0;
    float: left;
    display: inline-block;
}

.tags li a {
    float: left;
    display: block;
    border-radius: 4px;
    padding: 2px 10px;
    color: gray;
    background: rgba(0, 0, 0, 0.05);
}

.tags li a:hover {
    color: #fff;
    background: var(--main-color);
}

.list-unstyled {
    margin-top: 20px;
}

.list-unstyled li a {
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
}

.list-unstyled {
    list-style: none;
    padding: 0 0;
}

.list-unstyled li {
    padding: 5px;
}

.latest-post-card {
    width: 100%;
    height: 70px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    display: flex;
    margin-bottom: 28px;
    color: white;
}

.latest-post-card img {
    width: 33.3333%;
    position: relative;
    float: left;
    height: 100%;
}

.latest-post-card-details {
    position: relative;
    width: 66.6666%;
}

.latest-posts .latest-post-card {
    margin: 20px 0;
    border: none;
}

.latest-post-card:hover {
    color: rgba(255, 255, 255, 0.404);
}

.latest-post-card-h {
    margin: auto;
    font-weight: lighter;
}

@media (max-width: 1024px) {
    .carousel {
        width: 90%;
    }

    .c4-second-blog {
        width: 100%;
    }

    .blog-card-details {
        padding-bottom: 0;
    }

    .footer-container {
        width: 90%;
    }

    .bio p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .side-left {
        display: none;
    }

    .side-right {
        display: none;
    }

    .side-middle {
        width: 100%;
    }

    .c4-blog {
        width: 100%;
    }

    .left {
        grid-template-columns: auto;
        width: 90%;
        margin: auto;
    }

    .latest-post-card-h {
        font-size: 12px;
    }

    .latest-post-card img {
        width: 50px;
        height: 50px;
    }

    .list-unstyled li a {
        font-size: 12px;
    }

    .c4-second-blog-left {
        margin: auto;
    }

    .c4-second-blog-right {
        display: none;
    }
}

@media (max-width: 425px) {
    .carousel {
        width: 100%;
    }

    .c4-blog-img-details {
        width: 75%;
    }

    .c4-second-blog-right {
        display: none;
    }

    .c4-second-blog-head {
        margin-left: 16px;
    }

    .c4-footer {
        top: 0;
    }

    .latest-posts {
        display: none;
    }

    .paragraph p {
        line-height: 1.2rem;
    }

    .footer-container {
        display: block;
    }

    .latest-footer {
        margin: 16px 0;
    }

    .links-social {
        margin: 16px 0;
    }

    .heading {
        display: block;
    }

    .search-page-flex {
        width: 100%;
    }

    .heading-search {
        width: 100%;
    }

    .c4-second-blog-left {
        width: 100%;
    }
}