<!DOCTYPE html>
<html lang="en">
<head>
    <title>C4 projects</title>
    <link type="text/css" rel="stylesheet" href='/styles/global.css'>
    <link type="text/css" rel="stylesheet" href='/styles/atom-one-dark.css'>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/myJs/animate-input.js" charset="utf-8"></script>
<script src="/myJs/reveal.js" charset="utf-8"></script>
<script src="/js/5fa7911fffe6ab523c6d.js"></script><script src="/js/80c0028982e6797add80.js"></script><script src="/js/97eae17e9b5457275422.js"></script></body>
</html>