<!DOCTYPE html>
<html lang="en">
<head>
    <title>C4 projects</title>
    <link type="text/css" rel="stylesheet" href='/styles/global.css'>
    <link type="text/css" rel="stylesheet" href='/styles/prism.css'>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>
<div id="root"><%- reactApp %></div>
<script src="/myJs/animate-input.js" charset="utf-8"></script>
<script src="/myJs/reveal.js" charset="utf-8"></script>
<script src="/js/react.createBlog.createThread.index.indexForum.login.signUp.userProfile.js"></script><script src="/js/react.createBlog.createThread.index.indexForum.userProfile.js"></script><script src="/js/react.createThread.userProfile.js"></script><script src="/js/react.userProfile.js"></script><script src="/js/userProfile.js"></script></body>
</html>